.blog-editor {
    display: flex; /* FIXED: was `row` */
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.blog-editor .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    width: 1200px;
}

.blog-editor .section-1 {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.section-2 {
    display: flex;
    flex-direction: column;
    width: 700px;
}

.blog-editor .form-control {
    width: 100%;
}

.blog-editor .input-container {
    width: 100%;
    background-color: white;
}

.blog-editor .drop-down-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 50%;
    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: border-color 0.5s ease;
}

.blog-editor .form-control-drop-down {
    height: 100%;
    width: 100%;
}

.blog-editor .image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60%;
    height: 50px;
    border: none;
    border-radius: 10px;
    transition: border-color 0.5s ease;
}

.blog-editor .image-input {
    width: 100%;
    height: 100%;
}

.blog-editor h3 {
    color: var(--color-text-dark);
}
