.blog-details-content {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 70%;
}

.blog-details-content .main-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.blog-details .comment-form textarea {
    display: row;
    height: 100px;
    width: 750px;
    background-color: white;
    border: 2px solid #ccc;
    border-radius: 1rem;
    padding: 16px;
}

.blog-details .toc a {
    color: black; /* your normal link color */
    transition: color 0.3s ease; /* smooth transition over 0.3s */
}

.blog-details .toc a:hover {
    color: var(--on-hover-color);
}

/* ASIDE CONTAINER */
.aside-container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding: 1rem;
}

/* TOC SECTION */

.toc {
    width: 250px;
    padding: 1rem;
    height: 200px;
    border-left: 2px solid #e0e0e0;
    overflow-y: auto; /* Makes vertical scrolling possible */
}

.toc ul {
    list-style: none;
    padding-left: 0;
}

.toc ul li {
    margin-bottom: 0.5rem;
}

.toc li a {
    text-decoration: none;
    color: black;
    font-weight: 700;
}

/* COMMENT SECTION */

.comments-section {
    display: flex;
    flex-direction: column;
    height: 1000px;
    width: 1000px;
    border: 2px solid #ccc;
    padding: 16px;
    overflow-y: auto;
}

.comment-form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.comment-form .text-section {
    display: block;
    margin-bottom: 16px;
}

.comment-form .submit-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments-section .comments-count {
    font-weight: 700;
}

/* USER COMMENT SECTION */
.comments-section .user-comment-container {
    display: flex;
    flex-direction: row;
    height: 200px;
    width: 600px;
    border: 2px solid #ccc;
    margin-top: 16px;
    margin-bottom: 16px;
    padding: 16px;
}
.comments-section .user-comment-container .user-comment-content {
    display: flex;
    flex-direction: column;
}
