.blog-details-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

.blog-details .title {
    text-align: center;
    font-size: text-xxl;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blog-details .author {
    text-align: center;
    color: grey;
    font-weight: 700;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.blog-details .content {
    display: flex;
    flex-direction: column;
}

.blog-details .blog-header-image {
    display: flex;
    justify-content: center;
}

.blog-details .blog-header-image .header-image {
    height: 500px;
    width: 1000px;
}

.toc {
    position: fixed;
    top: 100px;
    right: 40px;
    width: 250px;
    padding: 1rem;
    background: #f9f9f9;
    border-left: 2px solid #ccc;
}

.toc ul {
    list-style: none;
    padding-left: 0;
}

.toc li a {
    text-decoration: none;
    color: #007acc;
}
