@import "./variables.css";
@import "./fonts.css";

header {
    position: sticky;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(
        to right,
        var(--brand-color-3) 50%,
        #ffffff 50%
    );
    border-bottom: 1px solid var(--grey100);
    height: 6rem;
    justify-content: space-between;
    padding: 3rem;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: start;
    align-items: start;
    margin-left: 3rem;
    gap: 2rem;
}

header nav a {
    color: black; /* your desired link color */
    text-decoration: none; /* optional, removes underline */
    font-weight: 300;
}

.left-group {
    display: flex;
    width: 50%;
    align-items: center;
    gap: 1rem; /* smaller gap between logo and nav */
}

.right-group {
    display: flex;
    width: 50%;
    align-items: center;
    gap: 1rem; /* smaller gap between logo and nav */
}

.search-container {
    margin-left: auto;
    position: relative;
}

.search-icon {
    width: 24px;
    height: 24px;
    cursor: pointer;
    color: black;
}

.search-input {
    padding: 0.25rem 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    background-color: black;
    width: 15%;
    color: white;
    padding: 1rem 1rem;
    border: none;
    border-radius: 16px;

    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
