.hero {
    margin-bottom: 50px;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 300px;
    border-radius: 16px;
    padding: 16px;
}

.hero .container .hero-content {
    width: 50%;
}

.hero .hero-image-container {
    display: flex;
    max-height: 300px;
    border: none;
    justify-content: center;
}

/* hero image */
.hero .hero-image {
    height: 60%; /* Resize logo */
    width: 60%;
    border-radius: 10px;
}
