.login {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login .login-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: var(--brand-color-1);
}

/* IMAGE SECTION */
@keyframes darkMoonlightShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.login .image-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 20px;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;

    background-image: url("../../public/login-background-code.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: start;
    background-size: cover;

    background-color: transparent;
}

.login .video-content {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    padding: 20px;
    flex-wrap: wrap;
    width: 50%;
    height: 100%;
}

#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* 👈 fill parent width */
    height: 100%;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: 1;
    filter: brightness(0.5); /* Optional: darken to improve text readability */
}

.login .video-content .flex-col {
    z-index: 2;
}

.login .header-video {
    font-size: x-large;
    color: var(--primary-text-color);
}

.login .video-content p {
    font-size: large;
    color: var(--primary-text-color);
    font-weight: 400;
}

/* FORM SECTION */
.login .content-2 {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: space-around;
    height: 700px;
}

/* FORM SECTION */

.login .content-2 form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 500px;
    padding: 20px;
}

.login .content-2 form label {
    font-size: small;
    font-weight: 400;
    color: var(--primary-text-color);
}

.login .content-2 form .check-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.remember {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: var(--primary-text-color);
    font-weight: 400;
}

.forgot-password {
    cursor: pointer;
    color: var(--primary-text-color);
    font-weight: bold;
    font-size: 0.9rem;
    text-decoration: underline;
}

.login .content-2 form input {
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: transparent;
}

.login .header-container {
    display: flex;
    flex-direction: column;
}
.login .header-container span {
    color: var(--primary-text-color);
    font-weight: 300;
    font-size: 1rem;
}

.login .header-form {
    font-size: x-large;
    color: var(--primary-text-color);
}

.login .content-2 form .no-account {
    color: var(--primary-text-color);
    font-weight: 400;
    text-align: center;
}

.register {
    cursor: pointer;
    color: var(--primary-text-color);
    text-decoration: underline;
    font-weight: bold;
}

/*  INPUT*/

.input-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 50px;
    border: 1px solid lightgray;
    border-radius: 10px;
    padding: 10px;
    transition: border-color 0.5s ease;
    background-color: var(--primary-text-color);
}

.input-container:focus-within {
    border-color: #333; /* or any accent color */
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1); /* optional */
}

.input-container input {
    padding-left: 10px; /* enough space for the icon */
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
}

.password-container input {
}
