/* Navbar */
.navbar {
    background-color: var(--brand-color-2);
    padding: 1rem;
    margin-bottom: 2rem;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar .container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* Gradient from orange to blue */

    background: linear-gradient(135deg, #0b486b, #f08a22, #f56217);

    color: var(--color-text-light);
    background-size: 400% 400%;

    height: 500px;
    border-radius: 16px;
    padding: 1rem;
}

.navbar .navbar-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}

.navbar .main-menu ul {
    display: flex;
}

.navbar ul li:not(:last-child) a {
    display: block;
    padding: 10px 20px;
    font-weight: 600;
    transition: 0.5s;
    color: white;
}

.navbar ul li:not(:last-child) a:hover {
    color: var(--color-primary);
}

.navbar ul li:last-child a {
    margin-left: 10px;
}

.navbar ul li a i {
    margin-right: 10px;
}

/* Form */

.navbar .form {
    display: flex;
    background-color: rgba(128, 128, 128, 0.3); /* semi-transparent grey */
    backdrop-filter: blur(10px); /* applies the blur */
    -webkit-backdrop-filter: blur(10px); /* for Safari support */
    height: 100%; /* or whatever fits your navbar */
    width: 100%;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
}

.navbar .form-control {
    display: flex;
    align-items: center;
    border: none;
    background-color: transparent;
    color: white;
}

.navbar .form-control:focus {
    outline: none;
    border-color: transparent;
}

.navbar .form i {
    display: flex;
    align-items: center;
}

.navbar .main-menu li:nth-last-child(2) {
    margin-right: 10px;
}

.navbar .main-menu li:nth-last-child(1) {
    margin-right: 10px;
    color: var(--primary-color);
}

.fa-search {
    color: white;
    font-size: 18px; /* optional */
}

/* NAVBAR HERO TEXT */
.navbar-hero-section {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: start;
    color: white;
}
.navbar-hero-text {
    display: flex;
    flex-direction: column;
    align-items: start;
    color: white;
}

.navbar-hero-text p {
    margin-bottom: 1rem; /* or 16px */
    line-height: 1.6; /* improves readability */
}

.fade-in {
    animation: fadeInAnimation 3s ease forwards;
}

@keyframes fadeInAnimation {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
