:root {
    /* Primary Colors */
    --color-primary: #f26101; /* bright orange - CTA */
    --color-primary-dark: #c04a00; /* darker orange - hover */

    /* Color dark */
    --color-dark: black;

    /* Secondary Color */
    --color-secondary: #0b3d91; /* deep blue */

    /* Accent Color */
    --color-accent: #3aa17e; /* teal green */

    /* Text Colors */
    --color-text-dark: #2e2e2e; /* dark gray */
    --color-text-light: #ffffff; /* white */

    /* Background Colors */
    --color-content-bg: #f5f5f5; /* light gray */
    --color-footer-bg: #1c1c1c; /* very dark gray */
}
