:root {
    /* BRAND COLOR */
    --brand-color-1: #ffcda3;
    --brand-color-2: #fce2ce;
    --brand-color-3: #ffede5;
    --brand-color-4: #fff5ef;
    /* SYSTEM COLOR */
    --primary-color: #468cf2;
    --success-color: #16c79a;
    --danger-color: #ef4f4f;
    --warning-color: #f6c065;
    --info-color: #008891;
    /* GREYSCALE COLOR */
    --lighter-dark: #333333;
    --grey900: #101010;
    --grey700: #484848;
    --grey400: #9a9a9a;
    --grey100: #999999;
}
